<section class="header-main border-bottom">
	<div class="header-margin-x">
		<div class="row align-items-center">
			<div class="col-12">
				<span class="logo-text">
					<a routerLink="/"><img src="assets/green-logo.png" style="width: 200px; margin-bottom: 5px;" alt="Logo"></a>
				</span>
				<div class="d-flex justify-content-end pull-right">
					<small style="padding-top:13px; padding-right: 13px" class="text-muted">Hi {{user.first_name}}</small>

					<div class="widget-header dropdown show text-center">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" data-offset="20,10"
							aria-expanded="false">
							<div class="icon icon-sm rounded-circle border ">
								<!-- {{user.first_name | slice: 0:1 | uppercase}} {{user.last_name | slice: 0:1 | uppercase}}  -->
								<i class="fa fa-user"></i>
							</div>
							<span class="sr-only">Profile actions</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" (click)="logout()">Log out</a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div>
	</div> 
</section>