<section class="header-main border-bottom">
	<div class="header-margin-x">
		<div class="row align-items-center">
			<div class="col-12">
				<span class="logo-text"><a routerLink="/">LOGO</a></span>
				<div class="d-flex justify-content-end pull-right">
					<div class="widget-header dropdown show text-center">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" data-offset="20,10"
							aria-expanded="false">
							<div class="icon icon-sm rounded-circle border ">
								<i class="fa fa-user"></i>
							</div>
							<span class="sr-only">Profile actions</span>
						</a>
						<h6>
							<!-- <small class="text-muted">Hi User</small> -->
							<small class="text-muted">Hi {{user.first_name}}</small>
						</h6>

						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" (click)="logout()">Log out</a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div>
	</div> 
</section>