<div class="centered-content">
    <div class="card m-2" style="max-width:650px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Login</h4></header>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                       <div class="col md-12">
                            <label>Email</label>
                            <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div class="text-danger"  *ngIf="submitted && f.email.errors">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    
                        <div class="col-md-12 mt-2">
                            <label>Password</label>
                              <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                              <div class="text-danger"  *ngIf="submitted && f.password.errors">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div> <!-- form-group end.// -->   
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit"  [disabled]="loading" class="btn btn-primary btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login  
                        </button>
                    </div>     
                </form>
            </article><!-- card-body.// -->
            <p class="text-center ">Don't have an account? <a routerLink="/signup"><b>Signup</b></a></p>

        </div> <!-- card .// -->
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    </div>