<div class="auth-bg">
    <div class="box">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="inputBox">
                <input type="email" placeholder="Email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div class="text-danger" *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="inputBox">
                <input type="password" placeholder="Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div class="text-danger" *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>
        </form>
        <div class="test-white mt-2rem">
            Don't have an account? <a routerLink="/signup"><b>Signup</b></a>
        </div>
    </div>
</div>