body{
  background-color: #f8f9fa;

}
.auth-bg {
  background-size: cover;
  background: url('assets/auth2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  padding: 2rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.525rem;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: left;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.525rem 0;
  font-size: 1rem;
  color: #fff !important;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}
.box .inputBox input::placeholder{
  color: #fff !important;

}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #ffff;
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}

article{
  width: 100% !important;
}
.header-main {
  background-color: white;
  position: relative;
  padding-top: 1rem;
}
.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}

.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.widget-header a {
  color: #343a40;
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px;
}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
  display: inline-block;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.logo-text{
  font-size: 35px !important;
  font-weight: 500;
}

@media (min-width: 768px) {
  .full-width {
    width: 760px;
  }
  .header-margin-x{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .full-width { 
    width: auto !important;
  }
  .header-margin-x{
    margin-left: 20px;
    margin-right: 20px;
  }

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    padding: 2rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.525rem;
  }
}

a {
  cursor: pointer;
}

/********************* Shopping Demo-4 **********************/
.product-grid4,.product-grid4 .product-image4{position:relative, }
.product-grid4{
  text-align:center;
  border-radius:5px;
  overflow:hidden;
  z-index:1;
  transition:all .3s ease 0s; 
  margin-bottom: 40px;
  box-shadow: 1px 6px 6px -2px rgba(0,0,0,0.15);
}
.product-grid4:hover{
  box-shadow:0 0 15px rgba(0,0,0,.3)
}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{
  cursor: pointer;
  width:100% !important; 
  height: 300px; 
  object-fit: cover;
}
.product-grid4 .pic-1{
  opacity:1;
  transition:all .5s ease-out 0s
}
.product-grid4 .product-discount-label,.product-grid4 .product-new-label{
  color:#fff;
  background-color:#ef5777;
  font-size:12px;
  text-transform:uppercase;
  padding:2px 7px;
  display:block;
  position:absolute;
  top:10px;left:0
}
.product-grid4 .product-discount-label{background-color:#16a085;left:auto;right:0}

.product-grid4 .product-content{padding-top: 20px;}
.product-grid4 .title{
  font-size:15px;
  font-weight:500;
  text-transform:capitalize;
  margin:0 0 7px;
  transition:all .3s ease 0s
}
.product-grid4 .title a{color:#222}
// .product-grid4 .title a:hover{color:#16a085}
@media only screen and (max-width:990px){.product-grid4{margin-bottom:40px}
}
.product-grid .price{
  color:#333;
  font-size:17px;
 font-weight:700;
 letter-spacing:.6px;
 margin-bottom:8px;
 text-align:center;
 transition:all .3s
}


.page-title{
  font-size: 1.75rem;
  font-weight: 500;
  color: #343a40;
}
.bg-white{
  background-color: white;
}
.card-header {
  margin-bottom: 31px !important;
}
.test-white{
  color: #ffff !important;
}
.mt-2rem{
  margin-top: 2rem !important;
}
.like{
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}